@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Merienda:wght@300..900&display=swap");

@import url("https://api.fontshare.com/v2/css?f[]=chillax@200,300,400,500,600,700,1&display=swap"); */

@font-face {
  font-family: "BitterRose";
  src:
    url("/fonts/Bitter Rose.ttf") format("truetype"),
    url("/fonts/Bitter Rose.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chillax";
  src:
    url("/fonts/Chillax-Regular.otf") format("opentype"),
    url("/fonts/Chillax-Medium.otf") format("opentype"),
    url("/fonts/Chillax-Bold.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@import url("../styles/theme.css");

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
}

body {
  /* max-width: 100%; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #050505;
  font-family: "Chillax", sans-serif;
  font-weight: 400;
  line-height: 160%;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 110%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 110%;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 120%;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}

h6 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}

.heading-h1-italic {
  color: #face8d;
  font-family: "BitterRose", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 90%;
}

.heading-h2-italic {
  color: #face8d;
  font-family: "BitterRose", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 90%;
}

.heading-h3-italic {
  color: #face8d;
  font-family: "BitterRose", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 90%;
}

.heading-h4-italic {
  color: #face8d;
  font-family: "BitterRose", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.heading-h5-italic {
  color: #face8d;
  font-family: "BitterRose", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.heading-h6-italic {
  color: #face8d;
  font-family: "BitterRose", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.heading-xlarge {
  font-family: "Chillax", sans-serif;
  font-size: 10rem;
  font-weight: 500;
  line-height: 100%;
}

.heading-medium {
  letter-spacing: -2px;
  font-family: "Chillax", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 100%;
}

.text-xlarge {
  font-size: 1.5rem;
  line-height: 160%;
}

.text-large {
  font-size: 1.25rem;
  line-height: 160%;
}

.text-regular {
  font-size: 1rem;
  line-height: 160%;
}

.text-small {
  font-size: 0.875rem;
  line-height: 160%;
}

.text-tiny {
  font-size: 0.75rem;
  line-height: 160%;
}

.menu-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.menu-price {
  font-size: 1.25rem;
  font-weight: 400;
}

.hero {
  background-image: url("../public/assets/images/hero.webp");
  background-size: contain;
  z-index: -1;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.font-bitter {
  font-family: "BitterRose", sans-serif;
}

.font-merinda {
  font-family: "Kaushan Script", cursive;
}
/* 
.dark-overlay{
background: linear-gradient(90deg, rgba(46,46,45,1) 0%, rgba(115,115,114,0) 55%);
} */

.dark-overlay {
  z-index: 0;
  opacity: 0.5;
  background-color: #050505;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.images {
  display: flex;
  white-space: nowrap;
  transform: translateX(0); /* Initial horizontal translation */
  transition: transform 0.1s ease-out; /* Smooth transition for horizontal movement */
}

.banner-wrapper {
  height: 100vh; /* Full viewport height */
  overflow-y: scroll; /* Vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  display: flex;
  align-items: center; /* Center content vertically */
}

.banner-wrapper .wrapper .images {
  display: flex;
  white-space: nowrap;
  transform: translateX(0); /* Initial horizontal translation */
  transition: transform 0.1s ease-out; /* Smooth transition for horizontal movement */
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.scroll-section h3 {
  color: #0aa1ff;
  letter-spacing: clamp(1rem, 2vw, 4rem);
  font-size: clamp(1rem, 2vw, 4rem);
  text-transform: uppercase;
}

.scroll-section img {
  max-width: 800px;
  flex-shrink: 0;
  object-fit: cover;
}

/* .outer {
  overflow-x: hidden;
} */

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }

  .heading-xlarge {
    font-size: 7rem;
  }

  .heading-h2 {
    font-size: 3rem;
  }

  .heading-large {
    font-size: 5rem;
  }

  .text-xlarge {
    font-size: 1.25rem;
  }

  .heading-h1 {
    font-size: 3.5rem;
  }
  .heading-medium,
  .heading-h1-italic {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .heading-xlarge {
    font-size: 5rem;
  }

  .heading-h2 {
    font-size: 2.5rem;
  }

  .heading-large {
    font-size: 3.25rem;
  }

  .text-large {
    font-size: 1.125rem;
  }

  .text-size-xlarge {
    font-size: 1.125rem;
  }

  .heading-h4 {
    font-size: 1.5rem;
  }

  .heading-h1 {
    font-size: 3rem;
  }
  .heading-h3 {
    font-size: 1.5rem;
  }

  .heading-medium {
    font-size: 3.125rem;
  }
}

@media screen and (max-width: 479px) {
  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  .heading-xlarge {
    font-size: 4rem;
  }

  .heading-large {
    font-size: 2.5rem;
  }

  .heading-h5 {
    font-size: 1.125rem;
  }

  .heading-h1 {
    font-size: 2.75rem;
  }

  .heading-h6 {
    font-size: 1rem;
  }

  .heading-medium {
    font-size: 2.5rem;
  }

  .heading-h1-italic {
    font-size: 3rem;
  }
}



.card {
  width: 33.33vw;
  height: 100vh;
  position: relative;
}

@media (max-width: 768px) {
  .card {
    width: 100vw;
  }
}


.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
